@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;
}

@source "../node_modules/flowbite-svelte/dist";

.standard-card ul,
ol {
    list-style-position: inside;

}

.standard-card ul {
    list-style-type: disc;
}

.standard-card ol {
    list-style-type: decimal;
}


.compact-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    font-size: 12px;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align-last: center;
    background-image: none;
}

.compact-select option {
    background: white;
    color: black;
}